[package]
name = "oinq"
version = "0.2.5"
edition = "2021"
rust-version = "1.56"
description = "The inter-agent communication protocol in the REview ecosystem"
readme = "README.md"
homepage = "https://github.com/petabi/oinq"
repository = "https://github.com/petabi/oinq"
license = "Apache-2.0"

[dependencies]
bincode = "1"
gethostname = "0.2"
num_enum = "0.5"
quinn = "0.8"
serde = { version = "1", features = ["derive"] }
sysinfo = "0.23"
thiserror = "1"
tokio = "1"

[dev-dependencies]
futures = "0.3"
lazy_static = "1"
rcgen = "0.9"
rustls = "0.20"
tokio = { version = "1", features = ["macros", "rt", "sync"] }
